<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Finterest</title>
    {{> head}}
</head>

<body>
    {{> navigation}}
    <main class="container mt-4">
        {{> messages}}
        {{{ body }}}
    </main>
    <script>
        const btnClose = document.querySelector('.close')
        if (btnClose) {
            btnClose.addEventListener('click', e => {
                const alert = btnClose.parentElement
            })
        }
    </script>
</body>

</html>